*{
    margin: 0;
}

.topnav{
    background-color: rgb(75, 236, 145);
    padding: 14px 7px;
    

}
.topnav a{
    padding: 20px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;


}
.gridbox{
    display: grid;
    margin-top: 30px;
}
.flexbox{
    display: flex;
}
